include LICENSE
include README.md
include requirements.txt
include .env.example
recursive-include docs *
recursive-include deploy *
recursive-include src *
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude .env
